{% extends "layout.html" %}
{% block body %}

<div class="row">
  <div class="col-md-8">
    <div id="map" style="width:100%; height:400px;"></div>
  </div>
  <div class="col-md-4">
    <div id="text_description">
      <p>On March 3, 1991, four Los Angeles Police Department officers were videotaped beating a black man named Rodney King following a high-speed car chase. Although this event was widely considered an act of police brutality, the four officers were acquitted of assault and use of excessive force. This verdict, announced on April 29, 1992, triggered six days of rioting, looting, assault, and arson throughout Los Angeles County and required intervention by the U.S. Army, Marines, and National Guard. By the end of it, 58 people had been killed and thousands injured, making the 1992 Los Angeles riots the deadliest in the U.S. in over a century.</p>

      <p><em><small>Data Source: <a href="http://spreadsheets.latimes.com/la-riots-deaths/" target="_blank">Los Angeles Times Data Desk</a></small></em></p>
    </div>
  </div>
</div>

<br>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th></th>
      <th><a href="#" class="table_header" id="last_name">Name</a></th>
      <th><a href="#" class="table_header" id="age">Age</a></th>
      <th><a href="#" class="table_header" id="race">Race</a></th>
      <th><a href="#" class="table_header" id="date">Date</a></th>
      <th><a href="#" class="table_header" id="neighborhood">Neighborhood</a></th>
      <th><a href="#" class="table_header" id="address">Address</a></th>
    </tr>
  </thead>
  <tbody id="victims_list">
    {% include 'table.html' %}
  </tbody>
</table>

<!-- DIALOG POP-UP FOR EACH PERSON ON MAP -->
{% for person in victims_list %}
  <div class="dialog" id="dialog_{{ person.id }}">
      <div id="detail_map" style="width:100%; height:100%;"></div>
      <p>{{ person.story }}</p>
      <p><div style="text-align:right; font-size:12px"><a href="#" class="dialog-close">Close [X]</a></div></p>
  </div>
{% endfor %}

<script type="text/javascript">
  var victims_array = [{% for person in victims_list %}
    {
      "type": "Feature",
      "properties": {
        "full_name": "{{ person.full_name }}",
        "id": "{{ person.id }}"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [{{ person.x }}, {{ person.y }}]
      }
    } {% if not loop.last %},{% endif %}
  {% endfor %}]

  $(document).ready(function() {
    $('#victims_list').on('click', '.victim_row', function(event) {
      $(this).siblings("#desc_" + this.id).toggle();
      $(this).find("span").toggle();
    });
  });
</script>

<script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js?2"></script>
<script type="text/javascript" src="static/map.js"></script>

{% endblock %}